.intro {
  max-width: 984px;
  padding-left: 155px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
    padding-left: 0 48px;
  } 
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 768px;
    padding-left: 24px;
  } 
}