.cover__background {
  width: 100%;
  min-height: 740px;
  background: center center no-repeat url(../../../images/cover-trains.jpg);
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__background::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 30%;
  z-index: -1;
  transition: all .5s;
}

.cover__background:hover::before {
  opacity: 80%;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    max-width: 1024px;
    min-height: 640px;
  } 
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  } 
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  } 
}