.cover__title {
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  max-width: 560px;
  z-index: 3;
  font-weight: 900;
}

@media screen and (max-width: 550px) {
  .cover__title {
    font-size: 68px;
    line-height: 71px;
  } 
}

@media screen and (max-width: 495px) {
  .cover__title {
    font-size: 50px;
    line-height: 53px;
    max-width: 375px;
  } 
}

@media screen and (max-width: 370px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 250px;
  } 
}